*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-hero{
    padding: 50px 0;
    background-color:gray;
    min-height: 80vh;
    display: flex;
    align-items: center;
}
.container grid{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.grid-two--cols{
    display: grid;
    grid-template-columns: 1fr 1f;
    gap: 40px;
    align-items: center;
    min-height: 70vh;
}
.hero-content{
    padding-right: 20px;
}
.hero-subheading{
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.hero-heading{
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.1;
    color: black;
    margin-bottom: 20px;
}
.hero-para{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 30px;
}   
.section-hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-hero-image img{
    max-width: 100%;
    height: 200px;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    float: left;
    margin-left: 15px;

}
.custom-shape-divider-bottom-1696038172{
    position:relative;
    width: 100%;
    line-height: 0;
    
}

.shape-fill{
    fill:gray;
}    